
* {
    margin: 0;
    padding: 0;
}

.first {
    background-color: rgba(6, 11, 90, 0.842);
    min-height: 2vh;
    width: 100%;
}

.logo {
    width: 60px;
    height: 60px;
}
.adem{
    display: flex;
    margin-bottom: -30px;
    padding: 15px;
    justify-content: space-between; 
}

#sideNav {
    width: 200px;
    height: fit-content;
    position: fixed;
    right: -250px;
    top: 0;
    background: rgba(255, 255, 255, 0.842);
    z-index: 3;
    transition: 1.0s;
}

nav ul li {
    list-style: none;
    margin: 40px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

#menuBtn {
    width: 50px;
    height: 50px;
    background: none;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img {
    width: 25px;
    margin-top: 15px;
}


.links ul li:hover::after {
    width: 100%;
}

.third {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/stud.jpeg);
    min-height: 83vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.text {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text h1 {
    font-size: 50px;
}

.text p {
    font-size: 18px;
}

.firstarticle {
    background-color: rgb(255, 255, 255);
}

.firstarticletext {
    text-align: center;
    padding-top: 100px;
}

.firstarticletext h1 {
    font-size: 35px;
}

.firstarticletext h3 {
    font-size: 20px;
}

.row {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    background-color: rgba(6, 11, 90, 0.842);
    height: 30vh;
}

.enroll {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.enroll:hover {
    background: rgba(6, 11, 90, 0.842);
    border-radius: 10px;
}

.enroll h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
}

.enroll h3 a {
    color: whitesmoke;
    text-decoration: none;
}

.col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.coltext {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.coltext a {
    text-decoration: none;
    color: #fff;
}

.coltext:hover {
    background: rgba(6, 12, 90, 0.432);
}

.coltext h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
}

footer {
    max-height: 100vh;
    width: 100%;
    background: rgba(197, 190, 190, 0.342);
    background-position: center;
    background-size: cover;
    position: relative;
}

.footercol {
    padding: 70px;
}

.jerry {
    text-align: center;
    margin-top: -120px;
    margin-bottom: 50px;
}

.jerry p {
    color: white;
}

.jerry a {
    text-decoration: none;
    color: #fff;
}

button {
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: rgba(6, 11, 90, 0.842);
}


@media (max-width: 480px) {
    
    .adem {
        flex-direction: column;
    }
    .links ul li {
        font-size: 16px;
    }
    .column {
        flex-basis: 100%;
    }
    .col {
        flex-basis: 100%;
    }
    footer {
        min-height: 30vh;
    }
    .footercol {
        padding: 20px;
    }
    .jerry {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {
  
    .adem {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .links ul li {
        font-size: 18px;
    }
    .column {
        flex-basis: 100%;
    }
    .col {
        flex-basis: 100%;
    }
    footer {
        min-height: 40vh;
    }
    .footercol {    
        padding: 30px;
    }
    .jerry {
        margin-top: -30px;
        margin-bottom: 30px;
        position: relative;
    }
}


@media (min-width: 992px) {
    
    .adem {
        flex-direction: row;
    }
    .links ul li {
        font-size: 20px;
    }
    .column {
        flex-basis: 32%;
    }
    .col {
        flex-basis: 32%;
    }
    footer {
        min-height: 50vh;
    }
    .footercol {
        padding: 40px;
    }
    .jerry {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}